@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* --- Global Theme Variables --- */
:root {
    /* DARK MODE (Default) */
    --bg-main: #0d0e10;
    --bg-panel: #16171a;
    --text-main: #ffffff;
    --text-sub: #999999;
    --text-list: #cccccc;
    --divider: rgba(255, 255, 255, 0.08);
    --btn-border: rgba(255, 255, 255, 0.8);
    --accent-blue: #0047ff;
    --fixed-white: #ffffff;
    --fixed-grey: #999999;
}

/* LIGHT MODE OVERRIDE */
[data-theme='light'] {
    --bg-main: #f5f7fa;
    --bg-panel: #ffffff;
    --text-main: #1a1a1b;   /* Dark Charcoal */
    --text-sub: #555555;    /* Gray for paragraphs */
    --text-list: #444444;   /* Darker gray for lists */
    --divider: rgba(0, 0, 0, 0.1);
    --btn-border: #1a1a1b;
    --accent-blue: #0047ff;
}